@*
@model Project_Management.Models.ITAdminVm
*@

@{
    ViewBag.Title = "Create";
}

<h2>Create new User Here</h2>

<div class="container">
    @if (@ViewBag.ErrorMessage !=null)
    {
        <div class="alert" style="color: red">@ViewBag.ErrorMessage</div>
    }
    <form method="post" class="form-horizontal">
        <div class="row">
            <div class="col-md-2">
                User Name:
            </div>
            <input type="text" name="UserName" required=""/>
        </div>
        <div class="row">
            <div class="col-md-2">
                User Email:
            </div>
            <input type="text" name="UserEmail" required="" id="UserEmail"/>
        </div>
        <div class="row">
            <div class="col-md-2">
                Default Password:
            </div>
            <input type="text" name="DefaultPassword" required="" id="DefaultPassword"/>
        </div>
        <div class="row">
            <div class="col-md-2">
                Status:
            </div>
            <input type="radio" name="Status" value="Active" required=""> Active
            <input type="radio" name="Status" value="InActive" required=""> InActive
        </div>
        <div class="row">
            <div class="col-md-2">
                Designation:
            </div>
            <select name="Designation" required="">
                <option value="Developer">Developer</option>
                <option value="ProjectManager">Project Manager</option>
                <option value="QAEngineer">QA Engineer</option>
                <option value="TeamLead">Team Lead</option>
                <option value="UXEngineer">UX Engineer</option>
            </select>
        </div>
        <p>
            <input class="" type="submit" value="Create"/>
        </p>
    </form>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}
