@{
    ViewBag.Title = "AssignTask";
    var listdata = ViewBag.ProjectList as IEnumerable<Project_Management.Models.ProjectManagement>;
    var listUser = ViewBag.UserList as IEnumerable<Project_Management.Models.UserProfile>;
}

<h2>Assign a Person in any Project</h2>

<div class="container">
    <form method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <label>Select a Project:</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="ProjectId">
                        @foreach (var list in listdata)
                        {
                            <option value="@list.Id">@list.ProjectName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label>Select Resource Person:</label>
                </div>
                <div class="col-md-3">
                    <select class="form-control" name="PersonsUserId">
                        @foreach (var list in listUser)
                        {
                            <option value="@list.UserId">@list.UserName</option>
                        }
                    </select>
                </div>
            </div>
            <p>
                <input type="submit" value="Assign" />
            </p>
        </div>
    </form>







</div>
